<mat-toolbar color="primary" class="mat-toolbar-multiple-rows" *ngIf="menuContent$ | async as menuContent">
  <mat-toolbar-row>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="container" fxFlex>

      <!-- Logo -->
      <div class="logo-container">
        <a routerLink="/">
          <img fxHide.lt-md class="logo-lg" src="{{menuContent.logo.url}}" alt="{{menuContent.logo.alt}}"/>
          <img fxHide.gt-sm class="logo-sm" src="{{menuContent.logo.url}}" alt="{{menuContent.logo.alt}}"/>
        </a>
      </div>

      <!--Menu-->
      <div fxHide.lt-md>
        <nav>
          <ul fxLayout="row" fxLayoutGap="20px" class="nav-items">
            <li *ngFor="let item of menuContent.nav">
              <a mat-button routerLink="{{item.url}}">{{item.name}}</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- Hamburger Menu -->
      <div fxHide="false" fxHide.gt-sm>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let item of menuContent.nav" mat-menu-item routerLink="{{item.url}}">{{item.name}}</button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="page-wrap">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <footer id="footer" *ngIf="footerContent$ | async as footer">
    <div class="footer-container mx-auto py-12 lg:py-14 xl:py-20">
      <div fxLayout="column" fxLayoutAlign="center" fxLayoutGap="12px">
        <div fxLayout="column" fxLayoutAlign="center" fxLayout.lt-lg="column" fxLayoutGap="6px">
          <h3 id="footer-title" class="text-xl lg:text-2xl">{{footer.title}}</h3>
        </div>
        <div fxLayout="column" fxLayout.lt-lg="column" fxLayoutAlign="center" fxLayoutGap="12px lg:gap-14">
          <nav>
            <ul
              id="footer-nav"
              fxLayout="row wrap"
              fxLayoutGap="6px"
              fxLayoutAlign="space-evenly center"
              class="nav-items"
            >
              <ng-container *ngFor="let link of footer.nav">
                <li class="border-b-2"><a class="block py-1.5 font-light" href="{{link.url}}">{{link.text}}</a></li>
              </ng-container>
            </ul>
            <!--<ul fxLayout="row wrap" fxLayoutGap="4px" fxLayoutAlign="center" class="social-icons"></ul>-->
          </nav>
        </div>
        <div id="footer-copyright" class="mt-10 small text-gray-400">{{footer.copyright}}</div>
      </div>
    </div>
  </footer>
</div>

