<section class="flex-shrink-0" *ngIf="product$ | async as product">
  <div class="container mx-auto py-12 lg:py-14 xl:py-20">
    <div class="flex flex-col lg:flex-row w-full gap-10 lg:gap-20 items-start">
      <div class="flex-1 flex flex-col items-center lg:items-start">
        <div class="rich-text-block"><h3 class="m-0">{{product.title}}</h3>
          <p>{{product.text}}</p>
          <p>{{product.listTitle}}</p>
          <ol>
            <li *ngFor="let item of product.items"><strong>{{item.name}}</strong>{{item.description}}
            </li>
          </ol>
          <p>{{product.postText}}</p></div>
        <button mat-raised-button class="mat-button button lg mt-6 lg:mt-8 w-full md:w-max" color="accent">
          <a target="_self" [href]="product.cta.link">{{product.cta.text}}</a>
        </button>
      </div>
      <div class="flex-1 flex w-full justify-center lg:justify-start">
        <div class="flex-shrink-0 relative w-full mx-auto aspect-w-1 aspect-h-1">
          <div class="product-image">
            <img
              [alt]="product.alt"
              [src]="product.image"
              decoding="async" data-nimg="fill"
              sizes="100vw"
              [srcset]="product.image">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="flex-shrink-0" *ngIf="references$ | async as references" style="background-color: rgb(233, 233, 233);">
  <div class="container mx-auto py-12 lg:py-14 xl:py-20">
    <div class="flex flex-col sm:flex-row flex-wrap gap-10 justify-center"><span
      class="hidden justify-center justify-end justify-start"></span>
      <div class="block-list-item w-full" *ngFor="let item of references">
        <div class="flex-shrink-0 relative mb-6 aspect-w-3 aspect-h-2">
          <span class="references">
          <img
            [alt]="item.alt"
            [src]="item.image"
            class="references-image"
            decoding="async" data-nimg="fill">
        </span>
        </div>
        <div class="text-center"><p class="text-xl lg:text-2xl xl:text-h3 font-medium mb-2"
                                    style="color: rgb(17, 24, 39); font-family: Rufina, serif; font-weight: 700;">
          {{item.title}}</p>
          <div class="rich-text-block" style="color: rgb(17, 24, 39);"><p>{{item.text}}</p></div>
          <button mat-raised-button class="mat-button button lg mt-6 lg:mt-8 w-full md:w-max" color="primary">
            <a target="_self" [href]="item.cta.link">{{item.cta.text}}</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact></app-contact>
