/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
  50 : #f5e4e3,
  100 : #e6bcba,
  200 : #d68f8c,
  300 : #c5625e,
  400 : #b8413c,
  500 : #ac1f19,
  600 : #a51b16,
  700 : #9b1712,
  800 : #92120e,
  900 : #820a08,
  A100 : #ffb2b1,
  A200 : #ff7f7e,
  A400 : #ff4d4b,
  A700 : #ff3331,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$md-secondary: (
  50 : #e0f9fc,
  100 : #b3f0f8,
  200 : #80e7f3,
  300 : #4dddee,
  400 : #26d5ea,
  500 : #00cee6,
  600 : #00c9e3,
  700 : #00c2df,
  800 : #00bcdb,
  900 : #00b0d5,
  A100 : #fcfeff,
  A200 : #c9f4ff,
  A400 : #96eaff,
  A700 : #7de5ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

