<ng-container>
  <div class="overflow-x-hidden" *ngIf="landingContent$ | async as landingContent">
    <section class="landing-section flex-shrink-0 relative flex items-center min-h-120" [style]="'background-image: url(' + landingContent.backgroundImage + ')'">
      <div class="landing-section-bg absolute inset-0"></div>
      <div class="relative container mx-auto px-6 z-10 py-12 lg:py-32 xl:py-40 text-8xl">
        <div class="max-w-3xl text-left ml-0 mr-auto">
          <h2 class="landing-section-h1 xl:text-7xl xl:leading-tight mb-4 text-left">{{landingContent.headline}}</h2>
          <p class="landing-section-text-body md:text-body-lg xl:text-2xl">{{landingContent.text}}</p>
          <button mat-raised-button class="mat-button button primary xl mt-6 lg:mt-8 w-full md:w-max" color="accent" routerLink="{{landingContent.buttonHref}}">{{landingContent.buttonText}}</button>
        </div>
      </div>
    </section>

    <!--Services Section-->
    <section id="services-section" class="flex-shrink-0" *ngIf="servicesContent$ | async as services">
      <div class="container mx-auto py-12 lg:py-14 xl:py-20">
        <h2 id="services-title" class="text-h3 lg:text-h1 font-medium mb-4 lg:mb-10 text-center">{{services.title}}</h2>
        <div class="flex flex-col sm:flex-row flex-wrap gap-10 justify-center">
          <div *ngFor="let item of services.items" id="service-2" class="block-list-item w-full">
            <div class="flex-shrink-0 relative mb-6 aspect-w-1 aspect-h-1">
              <img id="service-2-image" [src]="item.image" [alt]="item.alt" class="rounded-md">
            </div>
            <div class="text-center">
              <p class="text-xl lg:text-2xl xl:text-h3 font-medium mb-2">{{item.title}}</p>
              <div class="rich-text-block">{{item.description}}</div>
              <a id="service-2-link" class="button primary lg mt-4" target="_self" [routerLink]="item.link">{{item.linkText}}</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Gallery Section-->
    <section id="gallery-section" class="flex-shrink-0" *ngIf="galleryImages$ | async as galleryImages">
      <div class="container mx-auto py-12 lg:py-14 xl:py-20">
        <h2 id="gallery-title" class="text-h3 lg:text-h1 font-medium mb-4 lg:mb-10 text-center">{{galleryImages.title}}</h2>
        <div class="gallery-carousel container mx-auto">
          <div id="gallery-grid" class="grid grid-cols-1 lg:grid-cols-3 gap-6 md:gap-10 mb-6 md:mb-10">
            <div *ngFor="let image of galleryImages.images">
              <img [src]="image.src" [alt]="image.alt" class="rounded-md">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--About Section-->
    <section id="about-section" class="flex-shrink-0" *ngIf="aboutContent$ | async as about">
      <div class="container mx-auto py-12 lg:py-14 xl:py-20">
        <div class="rich-text-block max-w-5xl text-center mx-auto" id="about-content">
          <h3 id="section-title">{{about.sectionTitle}}</h3>

          <div class="cards">
            <div class="card sm:w-full">
              <span class="material-icons">groups</span>
              <p id="section-subtitle">{{about.sectionSubtitle}}</p>
              <p id="credo-title">{{about.credoTitle}}</p>
              <p id="credo-text">{{about.credoText}}</p>
              <p id="expertise-title">{{about.expertiseTitle}}</p>
              <p id="expertise-text">{{about.expertiseText}}</p>
            </div>

            <div class="card">
              <span class="material-icons">workspace_premium</span>
              <p id="who-title">{{about.whoTitle}}</p>
              <p id="who-text">{{about.whoText}}</p>
              <p id="difference-title">{{about.differenceTitle}}</p>
              <p id="difference-text">{{about.differenceText}}</p>
            </div>

            <div class="card">
          <span class="material-icons">
            call
          </span>
              <p id="how-title">{{about.howTitle}}</p>
              <p id="how-text">{{about.howText}}</p>
              <p id="contact-title">{{about.contactTitle}}</p>
              <p id="phone-text">{{about.phoneText}}</p>
              <p class="large" id="phone-number">{{about.phoneNumber}}</p>
              <p id="phone-time">{{about.phoneTime}}</p>
            </div>
          </div>

          <p id="closing-text">{{about.closingText}}</p>
        </div>
      </div>
    </section>

    <!--Bernhard Section-->
    <section id="bernhard-section" class="flex-shrink-0" *ngIf="bernhardContent | async as bernhard" [style.backgroundColor]="bernhard.backgroundColor">
      <div class="container mx-auto pt-12 lg:pt-14 xl:pt-20 testimonials-carousel pb-12 lg:pb-14 xl:pb-20">
        <div class="flex h-full my-auto">
          <div class="max-w-5xl flex flex-col gap-4 justify-center text-center mx-auto items-center">
            <div class="profile-image-container relative w-24 h-24 rounded-full overflow-hidden">
              <img id="bernhard-image" [src]="bernhard.image.src" [alt]="bernhard.image.alt" sizes="100vw">
            </div>
            <h3 id="bernhard-heading" class="text-xl lg:text-2xl xl:text-h3 !font-medium">{{bernhard.heading}}</h3>
            <p id="bernhard-subheading" class="text-sm lg:text-body">{{bernhard.subheading}}</p>
          </div>
        </div>
      </div>
    </section>

    <!--Contact Section-->
    <section class="flex-shrink-0" id="contact" *ngIf="contactContent$ | async as contact">
      <div class="container mx-auto py-12 lg:py-14 xl:py-20">
        <div class="flex flex-col w-full gap-10 lg:gap-20 lg:flex-row">
          <div class="w-full lg:w-1/2" id="contact-text">
            <h3>{{contact.title}}</h3>
            <p>{{contact.text1}}</p>
            <p>{{contact.text2}}</p>
          </div>
          <div class="w-full lg:w-1/2" id="contact-form">
            <form novalidate="">
              <div class="flex flex-col lg:flex-row gap-4 mb-4">
                <div class="flex-1">
                  <label class="mb-1 text-label" id="contact-name">{{contact.name}}</label>
                  <input type="text" class="input border-none !shadow-none !placeholder-current" value=""></div>
                <div class="flex-1">
                  <label class="mb-1 text-label" id="contact-email">{{contact.email}}</label>
                  <input type="text" class="input border-none !shadow-none !placeholder-current" value=""></div>
              </div>
              <div class="grid gap-4 w-full grid-cols-1 lg:grid-cols-2 mb-4">
                <div class="flex flex-col md:min-w-40 w-full">
                  <label class="mb-1 text-label text-current" id="contact-subject">{{contact.subject}}</label>
                  <div class="w-full">
                    <div class="relative">
                      <button
                        class="border-none !shadow-none !placeholder-current relative w-full border rounded-md shadow-sm pl-3 pr-9 py-2.5 text-left cursor-pointer focus:outline-none focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 bg-white"
                        id="headlessui-combobox-button-2" type="button" tabindex="-1" aria-haspopup="listbox"
                        aria-expanded="false" data-headlessui-state=""><span
                        class="block truncate">-</span><span
                        class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"><svg
                        xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        width="24" height="24" class="h-5 w-5 text-gray-400" style="color:#111827"><path
                        stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                        d="m8 9 4-4 4 4m0 6-4 4-4-4"></path></svg></span></button>
                    </div>
                  </div>
                </div>
                <div class="w-full">
                  <label class="mb-1 text-label" id="contact-phone">{{contact.phone}}</label><input
                  type="text" placeholder="0" class="input w-full border-none !shadow-none !placeholder-current"
                  value="" inputmode="numeric"></div>
              </div>
              <div class="mb-4">
                <label class="mb-1 text-label" id="contact-message">{{contact.message}}</label>
                <textarea class="input border-none !shadow-none !placeholder-current" placeholder=""
                          rows="5"></textarea>
              </div>
              <div class="flex flex-col md:flex-row justify-between items-start gap-4">
                <button type="submit" class="button primary lg w-36 mt-2 md:mt-0" id="contact-submit">{{contact.submit}}
                </button>
              </div>
            </form>
          </div>
        </div>

      </div>
    </section>

    <!-- Google Maps Section -->
    <section>
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2507.611018663109!2d13.771425212569593!3d51.0602698431507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4709cfdb23241ec1%3A0x2eba3a2786fa6a32!2sBernhard%20Loth%20Einrichtungen!5e0!3m2!1sde!2sde!4v1683826388810!5m2!1sde!2sde"
        width="100%"
        height="450"
        style="border:0;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </section>
  </div>
</ng-container>
